@model AirWatch.Models.AppModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AirWatch</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body id="body-pd">
    <div class="wrapper">
        <nav id="sidebar">

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#"><i class="fa fa-home" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-download" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-file-text" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-cog" aria-hidden="true"></i></a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#" data-toggle="modal" data-target="#changePassModal"><i class="fa fa-key" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="@Url.Action("Logout", "Login")"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div id="content" class="container body-content height-100 bg-light" style="margin-top:0 !important">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info toggle-btn">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </button>
                    @*<a class="nav-link" href="#" style="padding-left:10px"><h3>AirWatch</h3></a>*@
                    <a class="nav-link" style="padding-left: 10px"> Poblacion, Malvar, Batangas</a>

                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-download" aria-hidden="true"></i> Download Reports</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-file-text" aria-hidden="true"></i> Log</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="modal" data-target="#changePassModal"><i class="fa fa-key" aria-hidden="true"></i> Change Password</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Logout", "Login")"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Modal -->
            <div class="modal fade" id="changePassModal" tabindex="-1" role="dialog" aria-labelledby="changePassModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="changePassModalLabel">Change Password</h5>
                            <button type="button" class="close close-modal-button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        @using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post, new { @name = "LoginForm" }))
                        {
                            <div class="modal-body" style="margin-top:0 !important">
                                <fieldset>
                                    <div class="form-group">
                                        <label for="inputUsername" class="form-label mt-4">New Password</label>
                                        @Html.TextBoxFor(model => model.ChangePass.firstPass, new { @id = "inputUsername", @class = "form-control", @placeholder = "Password", @type = "password" })
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword" class="form-label mt-4">Confirm new password</label>
                                        @Html.TextBoxFor(model => model.ChangePass.secondPass, new { @id = "inputPassword", @class = "form-control", @placeholder = "Password", @type = "password" })
                                    </div>
                                </fieldset>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success">Save changes</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="alert alert-dismissible alert-@(Model.MessageType == "error" ? "danger" : "success")" style="display: @(Model.Message!=null ? "block":"none")">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <h4 class="alert-heading">@(Model.MessageType == "error" ? "Error!!" : "Success!!")</h4>
                <p class="mb-0">@Model.Message</p>
            </div>
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - AirWatch</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<style>
    @@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

    body {
        font-family: 'Poppins', sans-serif;
        background: #f8f9fa;
    }

    p {
        font-family: 'Poppins', sans-serif;
        font-size: 1.1em;
        font-weight: 300;
        line-height: 1.7em;
        color: #999;
    }

    a,
    a:hover,
    a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }

    .navbar {
        padding: 15px 10px;
        background: #87a96c;
        border: none;
        border-radius: 0;
        margin-bottom: 40px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    }

    .navbar-btn {
        box-shadow: none;
        outline: none !important;
        border: none;
    }

    .line {
        width: 100%;
        height: 1px;
        border-bottom: 1px dashed #ddd;
        margin: 40px 0;
    }

    /* ---------------------------------------------------
        SIDEBAR STYLE
    ----------------------------------------------------- */

    .wrapper {
        display: flex;
        width: 100%;
        align-items: stretch;
    }

    #sidebar {
        min-width: 80px;
        max-width: 100px;
        background: #87a96c;
        color: #fff;
        transition: all 0.3s;
    }

        #sidebar.active {
            margin-left: -250px;
            margin-right: 150px;
        }

        #sidebar .sidebar-header {
            padding: 20px;
            background: #87a96c;
        }

        #sidebar ul.components {
            padding: 20px 0;
            border-bottom: 1px solid #87a96c;
        }

        #sidebar ul p {
            color: #fff;
            padding: 10px;
        }

        #sidebar ul li a {
            padding: 10px;
            font-size: 50px;
            display: block;
        }

            #sidebar ul li a:hover {
                color: #47702a;
                background: #c4f59c;
                border-radius: 0 5px 5px 0;
                margin-right: 10px;
            }

        #sidebar ul li.active > a,
        a[aria-expanded="true"] {
            color: white;
            background: #47702a;
            border-radius: 0 5px 5px 0;
            margin-right: 10px;
        }

    .dropdown-toggle::after {
        left: 10px;
        content: none;
    }

    ul ul a {
        font-size: 25px !important;
        padding-left: 30px !important;
        background: #a5cf84;
    }

    ul.CTAs {
        padding: 20px;
    }

        ul.CTAs a {
            text-align: center;
            font-size: 0.9em !important;
            display: block;
            border-radius: 5px;
            margin-bottom: 5px;
        }

    a.download {
        background: #fff;
        color: #7386D5;
    }

    a.article,
    a.article:hover {
        background: #6d7fcc !important;
        color: #fff !important;
    }

    /* ---------------------------------------------------
        CONTENT STYLE
    ----------------------------------------------------- */

    #content {
        width: 100%;
        padding: 20px;
        min-height: 100vh;
        transition: all 0.3s;
    }

    /* ---------------------------------------------------
        MEDIAQUERIES
    ----------------------------------------------------- */

    @@media (max-width: 768px) {
        #sidebar {
            margin-left: -220px;
            margin-right: 150px;
        }

            #sidebar.active {
                margin-left: 0;
                margin-right: 10px;
            }

        #sidebarCollapse span {
            display: none;
        }

        .toggle-btn {
            display: none;
        }

        .nav-item {
            display: block !important;
        }
    }

    .toggle-btn {
        background-color: #87a96c !important;
        color: white;
    }

        .toggle-btn:hover {
            background-color: #47702a !important;
            color: white;
        }

    .nav-item {
        display: none;
    }

    .close-modal-button {
        color: #575555;
        border: none;
        background-color: white;
        font-size: 30px;
    }

        .close-modal-button:hover {
            color: black;
        }
    input {
        max-width: none !important;
    }
</style>
<script>
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>