@model AirWatch.Models.AppModel
@{
    ViewBag.Title = "WeeklyAQI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://www.awxcdn.com/adc-assets/bundles/8002.55fb496a5ab5a992c549.css">
<h2>Weekly AQI</h2>
<div style="background:white">
    @{ 
        bool isFirst = true;
    }
    @foreach (var data in Model.AQIReadingList)
    {
        <div class="air-quality-content" style="border: 1px #f8f9fa solid">
            <div class="date-wrapper">
                <p class="day-of-week">@(isFirst ? "Today" : data.DateTime.DayOfWeek.ToString())</p>
                <p class="date">@(data.DateTime.Day) / @data.DateTime.Month</p>
                @{isFirst = false;}
            </div>
            <div class="content-wrapper">
                <div class="particle-chart">
                    <div class="aq-particles" style="width:180px;height:180px;">
                        <div class="aq-number-wrapper">
                            <div class="aq-number-container">
                                <div class="aq-number">
                                    @string.Format("{0:0}", data.AQI)
                                </div>
                                <div class="aq-unit">AQI</div>
                            </div>
                        </div>
                        <svg class="air-quality-particles" width="180" height="180" viewBox="0 0 180 180"><g class="particles"><circle key="1" cx="90" cy="27.5" r="2.3"></circle><circle key="2" cx="90" cy="15" r="2.3"></circle><circle key="3" cx="90" cy="2.5" r="2.3"></circle></g><g class="particles"><circle key="1" cx="102.19314512600802" cy="28.700919974798097" r="2.3"></circle><circle key="2" cx="104.63177415120961" cy="16.44110396975772" r="2.3"></circle><circle key="3" cx="107.07040317641122" cy="4.181287964717342" r="2.3"></circle></g><g class="particles"><circle key="1" cx="113.91771452281812" cy="32.25752921804458" r="2.3"></circle><circle key="2" cx="118.70125742738173" cy="20.709035061653495" r="2.3"></circle><circle key="3" cx="123.48480033194537" cy="9.160540905262408" r="2.3"></circle></g><g class="particles"><circle key="1" cx="124.72313956372514" cy="38.033149231090924" r="2.3"></circle><circle key="2" cx="131.66776747647015" cy="27.639779077309107" r="2.3"></circle><circle key="3" cx="138.61239538921518" cy="17.246408923527298" r="2.3"></circle></g><g class="particles "><circle key="1" cx="134.1941738241592" cy="45.80582617584078" r="2.3"></circle><circle key="2" cx="143.03300858899107" cy="36.966991411008934" r="2.3"></circle><circle key="3" cx="151.8718433538229" cy="28.12815664617709" r="2.3"></circle></g><g class="particles "><circle key="1" cx="141.96685076890907" cy="55.27686043627486" r="2.3"></circle><circle key="2" cx="152.3602209226909" cy="48.332232523529825" r="2.3"></circle><circle key="3" cx="162.7535910764727" cy="41.3876046107848" r="2.3"></circle></g><g class="particles "><circle key="1" cx="147.74247078195543" cy="66.08228547718188" r="2.3"></circle><circle key="2" cx="159.29096493834652" cy="61.298742572618266" r="2.3"></circle><circle key="3" cx="170.8394590947376" cy="56.51519966805464" r="2.3"></circle></g><g class="particles "><circle key="1" cx="151.2990800252019" cy="77.80685487399198" r="2.3"></circle><circle key="2" cx="163.5588960302423" cy="75.36822584879037" r="2.3"></circle><circle key="3" cx="175.81871203528266" cy="72.92959682358877" r="2.3"></circle></g><g class="particles "><circle key="1" cx="152.5" cy="90" r="2.3"></circle><circle key="2" cx="165" cy="90" r="2.3"></circle><circle key="3" cx="177.5" cy="90" r="2.3"></circle></g><g class="particles "><circle key="1" cx="151.2990800252019" cy="102.193145126008" r="2.3"></circle><circle key="2" cx="163.5588960302423" cy="104.63177415120961" r="2.3"></circle><circle key="3" cx="175.81871203528266" cy="107.07040317641122" r="2.3"></circle></g><g class="particles "><circle key="1" cx="147.74247078195543" cy="113.9177145228181" r="2.3"></circle><circle key="2" cx="159.29096493834652" cy="118.70125742738173" r="2.3"></circle><circle key="3" cx="170.8394590947376" cy="123.48480033194535" r="2.3"></circle></g><g class="particles "><circle key="1" cx="141.9668507689091" cy="124.72313956372511" r="2.3"></circle><circle key="2" cx="152.3602209226909" cy="131.66776747647015" r="2.3"></circle><circle key="3" cx="162.75359107647273" cy="138.61239538921518" r="2.3"></circle></g><g class="particles "><circle key="1" cx="134.19417382415924" cy="134.1941738241592" r="2.3"></circle><circle key="2" cx="143.03300858899107" cy="143.03300858899107" r="2.3"></circle><circle key="3" cx="151.8718433538229" cy="151.8718433538229" r="2.3"></circle></g><g class="particles "><circle key="1" cx="124.72313956372514" cy="141.96685076890907" r="2.3"></circle><circle key="2" cx="131.66776747647015" cy="152.3602209226909" r="2.3"></circle><circle key="3" cx="138.61239538921518" cy="162.75359107647273" r="2.3"></circle></g><g class="particles "><circle key="1" cx="113.91771452281812" cy="147.74247078195543" r="2.3"></circle><circle key="2" cx="118.70125742738173" cy="159.29096493834652" r="2.3"></circle><circle key="3" cx="123.48480033194537" cy="170.8394590947376" r="2.3"></circle></g><g class="particles "><circle key="1" cx="102.19314512600803" cy="151.2990800252019" r="2.3"></circle><circle key="2" cx="104.63177415120964" cy="163.5588960302423" r="2.3"></circle><circle key="3" cx="107.07040317641125" cy="175.81871203528266" r="2.3"></circle></g><g class="particles "><circle key="1" cx="90.00000000000001" cy="152.5" r="2.3"></circle><circle key="2" cx="90.00000000000001" cy="165" r="2.3"></circle><circle key="3" cx="90.00000000000001" cy="177.5" r="2.3"></circle></g><g class="particles "><circle key="1" cx="77.80685487399198" cy="151.2990800252019" r="2.3"></circle><circle key="2" cx="75.36822584879037" cy="163.5588960302423" r="2.3"></circle><circle key="3" cx="72.92959682358877" cy="175.81871203528266" r="2.3"></circle></g><g class="particles "><circle key="1" cx="66.0822854771819" cy="147.74247078195543" r="2.3"></circle><circle key="2" cx="61.29874257261827" cy="159.29096493834652" r="2.3"></circle><circle key="3" cx="56.515199668054656" cy="170.8394590947376" r="2.3"></circle></g><g class="particles "><circle key="1" cx="55.27686043627488" cy="141.9668507689091" r="2.3"></circle><circle key="2" cx="48.33223252352985" cy="152.3602209226909" r="2.3"></circle><circle key="3" cx="41.38760461078483" cy="162.75359107647273" r="2.3"></circle></g><g class="particles "><circle key="1" cx="45.805826175840785" cy="134.19417382415924" r="2.3"></circle><circle key="2" cx="36.96699141100894" cy="143.03300858899107" r="2.3"></circle><circle key="3" cx="28.128156646177096" cy="151.87184335382292" r="2.3"></circle></g><g class="particles "><circle key="1" cx="38.033149231090924" cy="124.72313956372514" r="2.3"></circle><circle key="2" cx="27.639779077309107" cy="131.66776747647015" r="2.3"></circle><circle key="3" cx="17.246408923527298" cy="138.61239538921518" r="2.3"></circle></g><g class="particles "><circle key="1" cx="32.257529218044596" cy="113.91771452281814" r="2.3"></circle><circle key="2" cx="20.70903506165351" cy="118.70125742738178" r="2.3"></circle><circle key="3" cx="9.160540905262437" cy="123.48480033194541" r="2.3"></circle></g><g class="particles "><circle key="1" cx="28.700919974798104" cy="102.19314512600803" r="2.3"></circle><circle key="2" cx="16.44110396975772" cy="104.63177415120965" r="2.3"></circle><circle key="3" cx="4.181287964717342" cy="107.07040317641126" r="2.3"></circle></g><g class="particles "><circle key="1" cx="27.5" cy="90.00000000000001" r="2.3"></circle><circle key="2" cx="15" cy="90.00000000000001" r="2.3"></circle><circle key="3" cx="2.5" cy="90.00000000000001" r="2.3"></circle></g><g class="particles "><circle key="1" cx="28.700919974798097" cy="77.80685487399198" r="2.3"></circle><circle key="2" cx="16.44110396975772" cy="75.36822584879037" r="2.3"></circle><circle key="3" cx="4.181287964717342" cy="72.92959682358878" r="2.3"></circle></g><g class="particles "><circle key="1" cx="32.25752921804459" cy="66.08228547718187" r="2.3"></circle><circle key="2" cx="20.70903506165351" cy="61.29874257261825" r="2.3"></circle><circle key="3" cx="9.160540905262422" cy="56.51519966805463" r="2.3"></circle></g><g class="particles "><circle key="1" cx="38.03314923109091" cy="55.27686043627489" r="2.3"></circle><circle key="2" cx="27.639779077309093" cy="48.33223252352986" r="2.3"></circle><circle key="3" cx="17.24640892352727" cy="41.38760461078484" r="2.3"></circle></g><g class="particles "><circle key="1" cx="45.80582617584077" cy="45.80582617584079" r="2.3"></circle><circle key="2" cx="36.96699141100893" cy="36.96699141100895" r="2.3"></circle><circle key="3" cx="28.128156646177075" cy="28.128156646177104" r="2.3"></circle></g><g class="particles "><circle key="1" cx="55.276860436274866" cy="38.033149231090924" r="2.3"></circle><circle key="2" cx="48.33223252352984" cy="27.639779077309107" r="2.3"></circle><circle key="3" cx="41.38760461078481" cy="17.246408923527298" r="2.3"></circle></g><g class="particles "><circle key="1" cx="66.08228547718186" cy="32.257529218044596" r="2.3"></circle><circle key="2" cx="61.298742572618224" cy="20.70903506165351" r="2.3"></circle><circle key="3" cx="56.51519966805459" cy="9.160540905262437" r="2.3"></circle></g><g class="particles "><circle key="1" cx="77.80685487399195" cy="28.700919974798104" r="2.3"></circle><circle key="2" cx="75.36822584879035" cy="16.44110396975772" r="2.3"></circle><circle key="3" cx="72.92959682358874" cy="4.181287964717342" r="2.3"></circle></g></svg>
                    </div>
                </div>

                <div class="air-quality-data-wrapper">
                    <h3 class="air-quality-data">
                        <div class="category-color-bar" style="background: #43D357;"></div>
                        <p class="category-text">@data.AQICategory</p>
                        @*<p class="statement">
                            The air quality is generally acceptable for most individuals. However, sensitive groups may experience minor to moderate symptoms from long-term exposure.
                        </p>
                        <p class="based-on">
                            Based on Current Pollutants
                        </p>

                        <a class="powered-by" href="https://air.plumelabs.com/air-quality-in-malvar-aw-262273?utm_source=accuweather&amp;utm_medium=current_aq_widget&amp;utm_campaign=#ae16">
                            <h4 class="powered-by__content">
                                <span>
                                    Learn more at
                                </span>
                                <img height="16px" src="/images/logos/plumb-labs-logo-blue.png" alt="Plumb Labs Logo">
                            </h4>
                        </a>*@
                    </h3>
                </div>
            </div>


            <div class="tooltip aq-tooltip">

                <div class="icon-tooltip light"></div>
                <div class="tooltip-overlay">
                    <div class="tooltip-header">
                        <h2 class="tooltip-header__title">
                            Current Air Quality
                        </h2>

                        <div class="icon-tooltip light"></div>
                    </div>
                    <h3 class="tooltip-content">
                        Our current air quality index (AQI) provides information on the quality of air that you are breathing and its impact on your health. There are at least six different pollutants that we track that impact the cleanliness of air and your health.
                    </h3>
                </div>
            </div>


        </div>
    }



</div>

