@model AirWatch.Models.LoginModel
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="image-container">
    <img src="~/Image/Malvar_Logo.png" class="logo" />
</div>
<div class="alert alert-success col-lg-4">
    @if (Model.confirmedRetrievalData == null || Model.confirmedRetrievalData == false)
    {
        using (Html.BeginForm("GenerateVerifiction", "Login", FormMethod.Post, new { @name = "LoginForm" }))
        {
            <fieldset>
                @*<legend>Air Quality Monitoring MENRO Malvar</legend>*@
                <div class="form-group">
                    <label for="inputEmail" class="form-label mt-4">Email</label>
                    @Html.TextBoxFor(model => model.retrievalData.email, new { @id = "inputEmail", @class = "form-control", @placeholder = "email", @type = "email" })
                </div>
            </fieldset>
            <br />
            <button type="submit" class="btn btn-primary">Generate Verification</button>
        }
    }
    else
    {
        using (Html.BeginForm("ChangePassWordusingEmail", "Login", FormMethod.Post, new { @name = "LoginForm" }))
        {
            <fieldset>
                @*<legend>Air Quality Monitoring MENRO Malvar</legend>*@
                <div class="form-group displayNone">
                    <label for="inputEmail" class="form-label mt-4">Email</label>
                    @Html.TextBoxFor(model => model.retrievalData.email, new { @id = "inputEmail", @class = "form-control", @placeholder = "email", @type = "email" })
                </div>
                <div class="form-group">
                    <label for="inputCode" class="form-label mt-4">6-Digit OTP Pin</label>
                    @Html.TextBoxFor(model => model.retrievalData.activationcode, new { @id = "inputCode", @class = "form-control", @placeholder = "6-Digit OTP Pin", @type = "number" })
                </div>
                <div class="form-group">
                    <label for="inputnewpassword" class="form-label mt-4">New Password</label>
                    @Html.TextBoxFor(model => model.retrievalData.newPassword, new { @id = "inputnewpassword", @class = "form-control", @placeholder = "New Password", @type = "password" })
                </div>
                <div class="form-group">
                    <label for="inputconfirmpassword" class="form-label mt-4">Confirm New Password</label>
                    @Html.TextBoxFor(model => model.retrievalData.confirmPassword, new { @id = "inputconfirmpassword", @class = "form-control", @placeholder = "Confirm New Password", @type = "password" })
                </div>
            </fieldset>
            <br />
            <button type="submit" class="btn btn-primary">Change Password</button>
        }
    }
</div>
<div class="alert alert-dismissible alert-danger col-lg-4" style="display: @(Model.ErrorMessage!=null ? "block":"none")">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <h4 class="alert-heading">Error!</h4>
    <p class="mb-0">@Model.ErrorMessage</p>
</div>

<style>
    .alert {
        margin: 5px auto auto auto;
    }

    input {
        max-width: none !important;
    }

    legend {
        text-align: center !important;
    }

    .btn-primary {
        width: 100%;
    }

    .logo {
        top: 0;
        height: 100px;
        width: 100px;
    }

    @@media (max-width: 1000px) {
        .image-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .alert {
            margin: auto auto auto auto;
        }

        .alert-dismissible {
            margin-top: 10px;
        }
    }
    .displayNone{
        display:none;
    }
    #inputCode::-webkit-outer-spin-button,
    #inputCode::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    #inputCode[type="number"] {
        -moz-appearance: textfield;
    }
</style>